<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ausbildungsdiagrammkarte</title>
</head>
<body>
    <h1>Ausbildungsdiagrammkarte</h1>

    <form method="POST" action="/diagrammkarte">

        <fieldset>
            <legend><strong>Schülerdaten</strong></legend>
            Name: <input type="text" name="name"><br>
            Vorname: <input type="text" name="vorname"><br>
            Anlage-Nr.: <input type="text" name="anlage"><br>
        </fieldset>

        <fieldset style="background-color: #fff2b3;">
            <legend><strong>Grundstufe</strong></legend>
            <label><input type="checkbox" name="grund_sitz"> Sitz einstellen</label>
            <label><input type="checkbox" name="grund_spiegel"> Spiegel einstellen</label>
            <label><input type="checkbox" name="grund_lenkrad"> Lenkradhaltung</label>
            <label><input type="checkbox" name="grund_motor"> Motor anlassen</label><br>
            <label><input type="checkbox" name="grund_anfahren"> Anfahren / Anhalteübungen</label>
        </fieldset>

        <fieldset style="background-color: #ffe0b3;">
            <legend><strong>Aufbaustufe</strong></legend>
            <label><input type="checkbox" name="aufbau_rollen"> Rollen und Schalten</label>
            <label><input type="checkbox" name="aufbau_bremsen"> Abbremsen / Schalten</label>
            <label><input type="checkbox" name="aufbau_berg"> Berganfahrt</label>
            <label><input type="checkbox" name="aufbau_beobachtung"> Verkehrsbeobachtung</label>
        </fieldset>

        <fieldset style="background-color: #ffc2c2;">
            <legend><strong>Leistungsstufe</strong></legend>
            <label><input type="checkbox" name="leistung_einordnen"> Einordnen</label>
            <label><input type="checkbox" name="leistung_vorfahrt"> Vorfahrt</label>
            <label><input type="checkbox" name="leistung_ueberholen"> Überholen</label>
            <label><input type="checkbox" name="leistung_geschwindigkeit"> Geschwindigkeit</label>
        </fieldset>

    

        <button type="submit">Speichern</button>
    </form>
</body>
</html>
